@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&family=Spline+Sans&display=swap');
@import "./media_queries";
@import "./variables";
@import "./dashboard";
@import "./graph";


html, body {
     padding: 0;
     margin: 0;
     height: 100%;
     width: 100%;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
     
}

@mixin flexCenter($flexDirection) {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: $flexDirection;
}

.App {
     height: 100%;
}

.graph-container {
     height: 80vh;
}
.container {
     @include flexCenter(column);
     .title {
          height: 15%;
          text-align: center;
          padding: 25px;
          // border: 2px solid black;
     }
     .information-container {
          text-align: center;
          height: 100%;
          margin: 15px;
          border: 2px solid red;
          .algorithms {
               text-align: left;
          }
     }
}